body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: cyan;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}
h1{
    font-size: 25px;
    background: linear-gradient(45deg, cyan, magenta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 20px;
    animation: fadeIn 1.5s ease-in-out;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1.5s ease-in-out;
}

.container img {
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 255, 255, 0.5);
    transition: transform 0.3s;
}

.container img:hover {
    transform: scale(1.1);
}

.container h2 {
    font-size: 28px;
    background: linear-gradient(45deg, cyan, magenta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container p {
    font-size: 22px;
    background: linear-gradient(45deg, cyan, magenta);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

footer {
    text-align: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
